<footer id="footer">
    <div class="container">
        <ul>
            <li>© 2020 Schnittfest GmbH</li>
            <li>
                <a href="tel:+49017693124984">+49 176 93124984</a>
            </li>
            <li>
                <a href="mailto:hi@schnitffest.gmbh">hi@schnittfest.gmbh</a>
            </li>
            <li>
                <a href="https://instagram.com/schnittfest.gmbh">Instagram</a>
            </li>
            <li>
                <a href="https://vimeo.com/schnittfest">Vimeo</a>
            </li>
            <li>
                <a href="/agb" target="_blank">AGB</a>
            </li>
            <li>
                <a href="/impressum" target="_blank">Impressum</a>
            </li>
        </ul>
    </div>
</footer>