<!DOCTYPE html>
<html lang="de">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="Schnittfest GmbH" />
    <meta name="author" content="Emvi Software GmbH" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />
    <meta name="twitter:card" content="product" />
    <meta name="twitter:site" content="@schnittfest" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta property="og:url" content="https://schnittfest.gmbh/" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="stylesheet" type="text/css" href="static/manrope.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="" />
    <link rel="icon" type="image/png" sizes="32x32" href="" />
    <link rel="icon" type="image/png" sizes="16x16" href="" />
    <link rel="mask-icon" href="" color="#000000" />

    <title>Schnittfest - AGB</title>
</head>
<body class="bg-beige">
    <nav class="header bg-beige">
        <div class="container">
            <div id="homeLink" class="wordmark">Schnittfest</div>
        </div>
    </nav>

    <section id="text" class="section-text">
        <div class="container">
            <h1>Allgemeine Geschäftsbedingungen</h1>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <ul>
                <li>© 2020 Schnittfest GmbH</li>
                <li>
                    <a href="tel:+49017693124984">+49 176 93124984</a>
                </li>
                <li>
                    <a href="mailto:hi@schnitffest.gmbh">hi@schnittfest.gmbh</a>
                </li>
                <li>
                    <a href="https://instagram.com/schnittfest.gmbh">Instagram</a>
                </li>
                <li>
                    <a href="/https://vimeo.com/schnittfest">Vimeo</a>
                </li>
                <li>
                    <a href="/agb">AGB</a>
                </li>
                <li>
                    <a href="/impressum">Impressum</a>
                </li>
            </ul>
        </div>
    </footer>

    <script>
        // click on logo navigation
        let homeLink = document.getElementById("homeLink");

        homeLink.addEventListener("click", e => {
            e.preventDefault();
            e.stopPropagation();

            if(window.location.pathname === "/") {
                window.scrollTo({top: 0, behavior: "smooth"});
            }
            else {
                window.location = "/";
            }
        });
    </script>
</body>
</html>
