<!DOCTYPE html>
<html lang="de">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="Schnittfest GmbH" />
    <meta name="author" content="Emvi Software GmbH" />
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />
    <meta name="twitter:card" content="product" />
    <meta name="twitter:site" content="@schnittfest" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta property="og:url" content="https://schnittfest.gmbh/" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <link rel="stylesheet" type="text/css" href="static/main.css" />
    <link rel="stylesheet" type="text/css" href="static/manrope.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="" />
    <link rel="icon" type="image/png" sizes="32x32" href="" />
    <link rel="icon" type="image/png" sizes="16x16" href="" />
    <link rel="mask-icon" href="" color="#000000" />

    <title>Schnittfest</title>
</head>
<body>
    <nav class="header bg-black">
        <div class="container">
            <img src="static/wordmark-white.svg" alt="Schnittfest">
            <ul class="hide-sm">
                <li>Referenzen</li>
                <li>Leistungen</li>
                <li>Rental</li>
                <li>Kontakt</li>
            </ul>
        </div>
    </nav>

    <section id="start" class="section-start bg-black p-t-l p-b-l">
        <div class="container row">
            <div class="hero">
                <h1>Film, auf den<br>Frame genau.</h1>
                <button class="primary">Jetzt buchen</button>
                <button class="secondary">Mehr erfahren</button>
            </div>
            <div class="stripe">
                <div class="bg-yellow"></div>
                <div class="bg-orange"></div>
                <div class="bg-red"></div>
                <div class="bg-pink"></div>
                <div class="bg-purple"></div>
            </div>
        </div>
    </section>

    <section id="work" class="section-work bg-purple p-t-l p-b-l">
        <div class="container row">
            <div class="headline col-lg-2">
                <h2>Referenzen</h2>
            </div>
            <div class="videos col-lg-10">
                <div style="padding:41.77% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/267008499?color=fff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
                <div style="padding:41.89% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/303092992?color=fff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
                <div style="padding:42.5% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/278582802?color=fff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
                <div style="padding:42.5% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/261792174?color=fff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
                <div style="padding:37.29% 0 0 0;position:relative;">
                    <iframe src="https://player.vimeo.com/video/208213002?color=fff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="service" class="section-service bg-black p-t-l p-b-l">
        <div class="container row">
            <div class="square bg-yellow col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h3>Film</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                <button class="primary">Jetzt buchen</button>
            </div>
            <div class="square bg-orange col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h3>Animation</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
            <div class="square bg-red col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h3>Sound</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
        </div>
    </section>
</body>

<script src="https://player.vimeo.com/api/player.js"></script>
</html>
