@import "_reset.scss";
@import "_grid.scss";

html {
    background-color: black;
    font-family: "Manrope", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --beige: #F7EEE0;
    --yellow: #FEBB28;
    --orange: #FE6732;
    --red: #F5303C;
    --pink: #CE2867;
    --purple: #571B47;
    --grey: #3d3d3d;
}

body {
    overflow-x: hidden;
}

section {
    width: 100vw;
}

h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -2%;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
}

button {
    font-size: 18px;
    font-weight: 600;
    padding: 23px 32px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

[data-aos="fade-in"] {
    opacity: 0;
	transition-property: opacity;
	
	&.aos-animate {
		opacity: 1;
	}
}

.bg { // background
    &-white {
        background-color: white;
    }

    &-beige {
        background-color: var(--beige);
    }

    &-yellow {
        background-color: var(--yellow);
    }

    &-orange {
        background-color: var(--orange);
    }

    &-red {
        background-color: var(--red);
    }

    &-pink {
        background-color: var(--pink);
    }

    &-purple {
        background-color: var(--purple);
    }

    &-grey {
        background-color: var(--grey);
    }

    &-black {
        background-color: black;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 96px;
    color: white;
    z-index: 100;

    .container {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            cursor: pointer;
        }

        ul {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            text-align: right;

            li {
                display: inline-flex;
                margin-left: 64px;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                transition: color 0.2s ease-in-out;

                &:nth-of-type(1):hover {
                    color: var(--yellow);
                }

                &:nth-of-type(2):hover {
                    color: var(--orange);
                }

                &:nth-of-type(3):hover {
                    color: var(--red);
                }

                &:nth-of-type(4):hover {
                    color: var(--pink);
                }
            }
        }
    }
}

.section-start {
    .container {
        padding: 0;
        overflow: hidden;
    }

    .hero {
        position: relative;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        z-index: 1;

        video {
            width: 100%;
            max-width: 100%;
            transform: scale(1.004);
        }
    }

    .stripe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 160px;
        display: flex;
        z-index: -1;

        & > div {
            width: 20%;
        }
    }
}

.section-service {
    padding: 96px 0 128px;

    .container {
        padding: 0;
    }
    
    .square {
        padding: 32px;
    }

    h1 {
        color: white;
        margin-bottom: 96px;
        margin-left: 32px;
    }

    h2 {
        color: white;
        margin-bottom: 32px;
    }

    button {
        display: inline-flex;
        color: white;
        background-color: var(--purple);
        margin-top: 64px;

        &:hover {
            background-color: black;
        }
    }
}

.section-image {
    width: 100vw;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        width: 100%;
        display: block;
    }
}

.section-work {
    padding: 128px 0;

    h1 {
        position: sticky;
        top: 128px;
        margin-left: 64px;
        color: black;
        writing-mode: vertical-lr;
        -webkit-text-orientation: mixed;
        text-orientation: mixed;
    }

    .videos > div {
        margin-bottom: 64px;

        &:last-of-type {
            margin: 0;
        }
    }
}

.section-instagram {
    padding: 64px 0;
}

.section-rental {
    padding: 128px 0;

    .square {
        position: sticky;
        top: 128px;
        padding: 32px;

        h2 {
            margin-bottom: 32px;
            color: white;
        }

        p {
            color: black;
        }

        button {
            display: inline-flex;
            color: black;
            background-color: var(--yellow);
            margin-top: 48px;
    
            &:hover {
                background-color: var(--beige);
            }
        }
    }

    .parts {
        position: relative;
        max-width: 720px;
        min-height: 256px;
        margin: 0 auto;

        img:not(#part0) {
            position: absolute;
            filter: contrast(1.3) saturate(0.6);
        }

        #part0 {
            width: 100%;
        }

        #part1 {
            width: 29%;
            left: 34%;
        }
    
        #part2 {
            width: 8.5%;
            left: 24%;
            margin-top: 2%;
        }

        #part3 {
            width: 19%;
            left: 0;
            margin-top: 2%;
        }

        #part4 {
            width: 17%;
            left: 2%;
            margin-top: 15%;
        }

        #part5 {
            width: 5.5%;
            left: 70%;
            margin-top: 9%;
        }

        #part6 {
            width: 22%;
            left: 64%;
            margin-top: 1%;
        }

        #part7 {
            width: 12.5%;
            left: 87.5%;
            margin-top: 1%;
        }

        #part8 {
            width: 37%;
            left: 30%;
            margin-top: 28%;
        }

        #part9 {
            width: 22.5%;
            left: 0;
            margin-top: 28%;
        }

        #part10 {
            width: 49%;
            left: 20%;
            margin-top: 40%;
        }

        #part11 {
            width: 14%;
            left: 2%;
            margin-top: 36%;
        }

        #part12 {
            width: 27%;
            left: 72%;
            margin-top: 31%;
        }

        #part13 {
            width: 24%;
            left: 48%;
            margin-top: 48%;
        }

        #part14 {
            width: 19%;
            left: 24%;
            margin-top: 48%;
        }

        #part15 {
            width: 4.5%;
            left: 15%;
            margin-top: 47%;
        }

        #part16 {
            width: 24%;
            left: 75%;
            margin-top: 48%;
        }

        #part17 {
            width: 7.5%;
            left: 2%;
            margin-top: 44%;
        }

        #part18-1 {
            width: 14%;
            left: 46%;
            margin-top: 72%;
        }

        #part18-2 {
            width: 14%;
            left: 46%;
            margin-top: 86%;
        }

        #part19-1 {
            width: 17%;
            left: 22%;
            margin-top: 70%;
        }

        #part19-2 {
            width: 17%;
            left: 22%;
            margin-top: 84%;
        }

        #part20 {
            width: 13.5%;
            left: 66%;
            margin-top: 73%;
        }

        #part21 {
            width: 11.5%;
            left: 6%;
            margin-top: 73%;
        }

        #part22 {
            width: 13.5%;
            left: 84%;
            margin-top: 73%;
        }

        #part23 {
            width: 28%;
            left: 22%;
            margin-top: 102%;
        }

        #part24 {
            width: 37.5%;
            left: 60%;
            margin-top: 100%;
        }

        #part25 {
            width: 20%;
            left: 14%;
            margin-top: 105%;
        }

        #part26 {
            width: 40%;
            left: 43%;
            margin-top: 106%;
        }

        #part27 {
            width: 22.5%;
            left: 20%;
            margin-top: 115%;
        }

        #part28 {
            width: 22%;
            left: 47%;
            margin-top: 130%;
        }

        #part29-1 {
            width: 3%;
            left: 4%;
            margin-top: 106%;
        }

        #part29-2 {
            width: 3%;
            left: 8%;
            margin-top: 106%;
        }

        #part30 {
            width: 19%;
            left: 70%;
            margin-top: 116%;
        }

        #part31-1 {
            width: 2.5%;
            left: 13%;
            margin-top: 125.5%;
        }

        #part31-2 {
            width: 2.5%;
            left: 16%;
            margin-top: 125.5%;
        }

        #part32-1 {
            width: 2.75%;
            left: 20%;
            margin-top: 126%;
        }

        #part32-2 {
            width: 2.75%;
            left: 24%;
            margin-top: 126%;
        }
    }
}

@media only screen and (max-width: 1023px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .section-work {
        h1 {
            writing-mode: initial;
            margin-left: 0;
            margin-bottom: 32px;
        }

        .videos > div {
            margin-bottom: 16px;
        }
    }

    .section-rental {
        .container {
            padding: 0;
        }

        .square {
            position: static;
        }

        .parts {
            overflow: hidden;
        }
    }
}

@media only screen and (max-width: 767px) {
    .section-service {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 511px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    .container {
        padding: 0 16px;
    }

    .header {
        height: 64px;
    }

    .section-start {
        .stripe {
            width: 80px;
        }
    }

    .section-service {
        padding-top: 32px;
        
        h1 {
            margin-left: 16px;
            margin-bottom: 64px;
        }

        h2 {
            margin-bottom: 16px;
        }

        button {
            margin-top: 32px;
        }

        .square {
            padding: 32px 16px;
        }
    }

    .section-rental {
        .square {
            padding: 32px 16px;

            h2 {
                margin-bottom: 16px;
            }
    
            button {
                margin-top: 32px;
            }
        }
    }
}
